@charset "UTF-8";
.note-content-box{
	
	margin-top: 5px;
	max-height: 200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
    box-sizing:border-box;
    padding: 15px 0 20px;
    border-bottom: 1px solid #eee;
}

	.note-list-left{
		width: 60%;
		margin: 0px 5px;
	}

	.note-list-title{
		font-weight: normal;
	    font-size: 17px;
	    line-height: 28px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	
}
	}
	.note-list-inner{
		width: 60%;
	}
	
	.note-list-img{
		/* width: 100px;
		height: 100px; */
	}
	
		.note-list-img > a > img{
			height: 100px;
			width: 100px;
			margin-top:30px;
			margin-right: 10px;
		}
		
		
		.note-list-content{
			/* font-weight: normal;
		    font-size: 12px;
		    line-height: 28px;
		    overflow: hidden;
		    text-overflow: ellipsis; */
		    display: -webkit-box;
		    word-wrap: break-word;
		    overflow: hidden;
		    /* max-height: 5.2em; */
		    line-height: 1.3em;
		    text-align: justify;
		    font-size: 14px;
		    -webkit-line-clamp: 4;
		    -webkit-box-orient: vertical;
		    text-overflow: ellipsis;
		    margin-bottom: 5px;
		
		}
		
		.note-list-info{
			    display: block;
			    padding-top: 5px;
			    font-size: 14px;
			    line-height: 22px;
			    color: #666666;
			    max-height: 43px;
			    overflow: hidden;
			    text-overflow: ellipsis;
		}
		
		.note-list-left .note-list-content{
			
		}
		