@charset "UTF-8";
/*-----reset----*/
html{
	height: 100%;
}

body{

	margin: 0px;
	height: 100%;
	margin:0px;
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif !important;
	font-weight: bold !important;
	color : #333333;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

a{
	text-decoration: none;
}

/* ----------my style cascade------------- */
.hidden{
	display: none;
}
/* ----------header------------- */
.header{
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0px;
	background: #ffffff;
	border-bottom: 1px solid #666666;
}
	.header > h1{
		font-size: 14px;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
			
	}
	/* ------------main-menu--------------------------------------- */
	.main-menu{
		position: relative;
		top: -45px;
	}
		
		.main-menu ul{
			display: flex;
			justify-content: space-between;
		}
		
		.main-menu li,
		.main-menu li a{
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
/* ------------.main-visual--------------------------------------- */		
.main-visual{
	
}
	.main-visual img{
		max-width: 100%;
		max-height: 100%;
		margin:auto;
		display: block;
	}
/* ------------.main--------------------------------------- */		
.main{
	margin-top: 45px;
	
}
	.main-visual{
		height: 200px;
		width: 100%;
		background: blue;
		
	}
				
	.top-main-wrapper{
		display: flex;
		justify-content: center;
	}
				
	.main-wrapper{
					width:100%
				}
				
	.main-content{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(200px, auto);
		
	}
	
		.main-content > .content-box{
			display: grid;
			grid-template-row: 1fr 1fr;
		}
		.main-content > li > .content-day{
			margin:10px;
			height: 40%;
			/* background: red; */
		}
		
		.main-content > li > .content-name{
			margin:10px;
			height: 40%;
			justify-content: center;
			align-items: center;
			/* background: grey; */
		}
/*Media 구조*/
@media screen and (min-width: 600px) and (max-width: 1200px){
		      .main-content{
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(200px, auto));
					grid-auto-rows: minmax(200px, auto);
					
				}
				
				.main-wrapper{
					
					width:80%
				}
				
				.top-main-wrapper{
					display: flex;
					justify-content: center;
				}
            }
/*  @media screen and (min-width: 980px) and (max-width: 1020px) {
                .main { background-color: green; }
                h1 { color: red; }
            }
@media screen and (min-width: 801px) {
                .main { background-color: blue; }
                h1 { color: yellow; }
            } */
/*모듈단위로 > > > > >구조 들어간다*/
	.main .note-list{
		/* font-size: 14px;
		line-height: 19px;
		color: #595959;
		margin: 0px auto; */
	}
	
		.main .note-list ul{
			
		}
		
			.main .note-list li{
				/* padding: 15px;
				border: 1px solid #ddd;
				margin:10px auto;
				width: 30%;
				height: 30%; */
				margin: 5px;
				border: 1px solid #797979;
				
			}
			
			
				.note-list li > div:first-child{
					font-size: 17px;
					line-height: 21px;
					color: #000000;
					margin-bottom: 5px;		
				}
				
				
				.note-list li > div:last-child{
					font-size: 13px;
					display: flex;
					justify-content: space-between;
				}
				

				.note-list li > div:not(:first-child){
					margin-top: 5px;
				}
				
					
					.note-list li > div > span:first-child{
						color: #6bacca;
						
					}
					
/* ------------.footer--------------------------------------- */	
.footer{
	display: flex;
	justify-content: center;
	background: #bcb8bc;
	
}
.footer-table{
	text-align: center;
}

	.info-line{
		line-height: 0px;
	}
	
	.sns-link{
		display: flex;
		justify-content: space-around;
	}
	
		.sns-link img{
			height: 25px;
			width: 25px;
		}
	

/* ------------.aside--------------------------------------- */	
.aside{
	width: 80%;
	height: calc(100% - 46px);
	background: #808080;
	position: fixed;
	top: 46px;
	left: -80%;
	
	transition: 1s;

}

.aside.show{
	left: 0%;
	box-shadow: 5px 5px 30px #797979;
}

	.aside-box .log-box{
		display: flex;
		justify-content: space-around;
	}
	
		.aside-box .log-box div{
			border: 1px solid black;
		}						