@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 
/*-----reset----*/
html{
	height: 100%;
}

body{

	margin: 0px;
	height: 100%;
	margin:0px;
	font-family: 'Noto Sans KR', 맑은 고딕, 고딕, 돋움, Arial, sans-serif !important;
	font-weight: bold !important;
	color : #333333;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

a,
a:active{
	color: #000;
	text-decoration: none;
}

/* ----------my style cascade------------- */
.hidden{
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}
/* ----------header------------- */
.header{
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0px;
	background: #000000;
	border-bottom: 1px solid #666666;
	z-index: 600;
}
	.header > h1{
		font-size: 14px;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
			
	}
	
	.main-menu li:nth-child(2){
		margin-right:auto;
		margin-left:auto;
		width: 200px;
	}
	
	
	
		#logo > a,
		#logo img{
			width: 150px;
			
		}
	
		
	/* ------------main-menu--------------------------------------- */
	.main-menu{
		position: relative;
		/* top: -45px; */
	}
		
		.main-menu ul{
			display: flex;
			justify-content: space-between;
		}
		
		.main-menu li,
		.main-menu li a{
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
/* ------------.main-visual--------------------------------------- */		
.main-visual{
	margin: 10px 10px;
	/* background: #57BC90;
	color: white; */
}
	.main-visual img{
		
		max-height: 100%;
		max-width: 100%;
		margin:auto;
		display: block;
		 vertical-align: bottom;
	}
	
		.visual-info{
		
		}
		
/* ------------.note-list-intro--------------------------------------- */
.note-list-intro{
	
	text-align: center;
}
/* ------------.main--------------------------------------- */		
.main{
	margin-top: 55px;
	
}

				
	.main-wrapper{
					width:100%
				}
				
	.main-content{
		display: flex;
		flex-direction: column;
	}
	
		.content-box{
			position: relative;
			height: 99%;
			
			
		}
		
		.content-img{
			min-height: 200px;
			max-height: 250px;
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
		
			.content-img img{
				width: 100%;
				/* height: 100%;		 */		
			}
		.content-info{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			height: 99%;
			width: 100%;
			color: white;
			display:flex;
			flex-direction: column;
			align-items: center;
			background: rgba(0,0,0,0.2);
		}
		
			
		
/*Media 구조*/
/* @media screen and (min-width: 600px) and (max-width: 1200px){
		      .main-content{
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(200px, auto));
					grid-auto-rows: minmax(200px, auto);
					
				}
				
				.main-wrapper{
					
					width:80%
				}
				
				.top-main-wrapper{
					display: flex;
					justify-content: center;
				}
            }
 @media screen and (min-width: 980px) and (max-width: 1020px) {
                .main { background-color: green; }
                h1 { color: red; }
            }
@media screen and (min-width: 801px) {
                .main { background-color: blue; }
                h1 { color: yellow; }
            } */
/*모듈단위로 > > > > >구조 들어간다*/
	.main .note-list{
		font-size: 14px;
		line-height: 19px;
		color: #595959;
		margin: 0px auto;
	}
	
		.main .note-list ul{
			
		}
		
			.main .note-list li{
				/* padding: 15px;
				border: 1px solid #ddd;
				margin:10px auto;
				width: 30%;
				height: 30%; */
				margin: 5px;
				/* border-bottom: 1px solid #c6c6c6; */
				
			}
			
			
				.note-list li > div:first-child{
					font-size: 18px;
					line-height: 22px;
					color: #000000;
					margin-bottom: 5px;		
				}
				
				
				.note-list li > div:last-child{
					font-size: 14px;
					display: flex;
					justify-content: center;

				}	
				
					.note-list li > div:last-child h2{
					
					margin-bottom: 20px;
				}
				

				.note-list li > div:not(:first-child){
					/* margin-top: 5px; */
				}
				
					
					.note-list li > div > a > span:first-child{
						color: #6bacca;
						
					}
					
/* ------------.footer--------------------------------------- */	
.footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	background: #000000;
	color:white;
	
}
.footer-table{
	text-align: center;
}

.footer-about{
	margin-top: 5px;
	margin-bottom: 21px;
	font-size: 13px;
}

	.info-wrap{
		display: flex;
		justify-content: space-around;
	}
		.info-wrap .info-line{
			line-height: 10px;
			margin: 0px 10px;
			font-size: 10px;
		}
	
			.info-wrap .info-line img{
				padding-top: 10px;
				max-height: 100%;
				height: 30px;
				width: 30px;
			}
	
	.sns-link{
		padding-bottom: 20px;
		display: flex;
		justify-content: space-around;
		width: 80%;
		margin: auto;
	}
	
		.sns-link img{
			padding-top: 15px;
			height: 30px;
			width: 30px;
		}
		
		.footer-info{
			margin-bottom: 0px;
		}
	
	
	
	
	

/* ------------.aside--------------------------------------- */	
.aside{
	width: 80%;
	/* height: 600px; */
	background: #ffffff;
	position: fixed;
	/* top: 46px; */
	top: -120%;
	z-index: 600;
	transition: 1s;
	font-size: 18px;
}

.aside.show{
	top: calc(46px - 0%);
	box-shadow: 5px 5px 30px #797979;
}

.aside-box{
	text-align: center;
}
	.login-wrap .login-box{
		display: flex;
		justify-content: space-around;
	}
		.login,
		.regist{
			width:160px;
			
			padding: 5px 0px;
			/* background: #000000; */
			border-radius: 4px;
			/* color: white; */
		}
		
			.login > a,
			.regist > a{
			display: block;
			height: 20px;
			line-height: 20px;
			padding: 14px 0px;
			
		}

	.profile-wrap{
		height: 180px;
		/* background: #797979; */
		display: flex;
		flex-direction: column;
		/* margin: auto; */
		align-items: center;
		justify-content: center;
		padding-top: 10px;
	}	
	
		.profile-wrap .profile-pic{
				height: 120px;
				width: 120px;
				border-radius: 50%;
				/* background: blue; */
				border: 1px solid #cecece;
				
			}
			
			.profile-wrap .profile-pic > img{
				height: 120px;
				width: 120px;
				border-radius: 50%;
				/* background: blue; */
				/* border: 1px solid black; */
				
			}
			
		
		.profile-wrap .profile-name{
				margin-top: 10px;
				width: 150px;
				height: 40px;
				
			}
			
			
	.aside-button{
		border: 1px solid #bdbdbd;
		margin-bottom: 5px;
		height: 65px;
	}
		
		.aside-button > a{
			display: block;
			height: 20px;
			line-height: 15px;
			padding: 22px;
			/* border-bottom: solid 1px #dfdfdf; */
		}
	
	
/*-------------summer note -----------------*/
.write-content-wrapper{
	display: flex;
	justify-content: center;
}
	.title-write-box{
		width: 95%;
		margin: auto;
		height: 40px;
		border-radius: 1px;
	}
	
	.submit-button{
		height: 46px;
		width: 90%;
		background: black;
		color: white;
	}


/*scroll bar*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment
	{
	display: block;
	width: 10px;
	height: 10px;
	background: url() rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, .05);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .1);
}		
		
		
		
		
