@charset "UTF-8";
/*-----reset----*/
html{
	height: 100%;
}

body{

	margin: 0px;
	height: 100%;
	margin:0px;
	font-family: 맑은 고딕, 고딕, 돋움, Arial, sans-serif !important;
	font-weight: bold !important;
	color : #333333;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
	margin: 0px;
}

a,
a:active{
	color: #000;
	text-decoration: none;
}

/* ----------my style cascade------------- */
.hidden{
	display: none;
}
/* ----------header------------- */
.header{
	height: 45px;
	width: 100%;
	position: fixed;
	top: 0px;
	background: #ffffff;
	border-bottom: 1px solid #666666;
	z-index: 50;
}
	.header > h1{
		font-size: 14px;
		height: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
			
	}
	
	.main-menu li:nth-child(2){
		margin-right:auto;
		margin-left:auto;
	}
	/* ------------main-menu--------------------------------------- */
	.main-menu{
		position: relative;
		top: -45px;
	}
		
		.main-menu ul{
			display: flex;
			justify-content: space-between;
		}
		
		.main-menu li,
		.main-menu li a{
			width: 45px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
/* ------------.main-visual--------------------------------------- */		
.main-visual{
	margin-top: 10px;
	margin-left: 20px;
}
	.main-visual img{
		
		max-height: 100%;
		max-width: 100%;
		margin:auto;
		display: block;
		 vertical-align: bottom;
	}
	
		.visual-info{
		
		}
/* ------------.main--------------------------------------- */		
.main{
	margin-top: 55px;
	
}
	
	
	
		
				
	.top-main-wrapper{
		display: flex;
		justify-content: center;
	}
				
	.main-wrapper{
					width:100%
				}
				
	.main-content{
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(300px, auto);
		overflow: hidden;
	}
	
		.content-box{
			position: relative;
			height: 99%;
			
			
		}
		
		.index-box{
			
		}
		
			.content-inner-box{
				
			}
		
		
		.content-img{

			overflow: hidden;
			display: block;
			
		}
		
		.content-img img{
			max-height: 100%;
			max-width: 100%;
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin: 0 auto;
			opacity: 0.9;
			
		}
		
		.content-info{
			position: absolute;
			top: 40%;
			bottom: 0;
			left: 0;
			right: 0;
			overflow: hidden;
			height: 130px;
			width: 70%;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			background: rgba(0,0,0,0.1);
			margin : 0 auto;
		}
		
		
		
		.content-day{
			margin:10px;
			height: 40%;
			/* background: red; */
			/* background: url(/images/day_line.png) 0 bottom no-repeat; */
		}
		
		
			
		.content-name{
			margin:10px;
			height: 40%;
			justify-content: center;
			align-self: center;
		}
		
		
/*Media 구조*/
/* @media screen and (min-width: 600px) and (max-width: 1200px){
		      .main-content{
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(200px, auto));
					grid-auto-rows: minmax(200px, auto);
					
				}
				
				.main-wrapper{
					
					width:80%
				}
				
				.top-main-wrapper{
					display: flex;
					justify-content: center;
				}
            }
 @media screen and (min-width: 980px) and (max-width: 1020px) {
                .main { background-color: green; }
                h1 { color: red; }
            }
@media screen and (min-width: 801px) {
                .main { background-color: blue; }
                h1 { color: yellow; }
            } */
/*모듈단위로 > > > > >구조 들어간다*/
	.main .note-list{
		font-size: 14px;
		line-height: 19px;
		color: #595959;
		margin: 0px auto;
	}
	
		.main .note-list ul{
			
		}
		
			.main .note-list li{
				/* padding: 15px;
				border: 1px solid #ddd;
				margin:10px auto;
				width: 30%;
				height: 30%; */
				margin: 5px;
				border-bottom: 1px solid #797979;
				
			}
			
			
				.note-list li > div:first-child{
					font-size: 17px;
					line-height: 21px;
					color: #000000;
					margin-bottom: 5px;		
				}
				
				
				.note-list li > div:last-child{
					font-size: 13px;
					display: flex;
					justify-content: space-between;
				}
				

				.note-list li > div:not(:first-child){
					margin-top: 5px;
				}
				
					
					.note-list li > div > span:first-child{
						color: #6bacca;
						
					}
					
/* ------------.footer--------------------------------------- */	
.footer{
	margin-top: 20px;
	display: flex;
	justify-content: center;
	background: #bcb8bc;
	
}
.footer-table{
	text-align: center;
}

	.info-wrap{
		display: flex;
		
	}
		.info-wrap .info-line{
			line-height: 10px;
			margin: 10px;
		}
	
			.info-wrap .info-line img{
				padding-top: 10px;
				max-height: 100%
			}
	
	.sns-link{
		padding-bottom: 20px;
		display: flex;
		justify-content: space-around;
		width: 80%;
		margin: auto;
	}
	
		.sns-link img{
			height: 30px;
			width: 30px;
		}
		
	
	
	
	
	

/* ------------.aside--------------------------------------- */	
.aside{
	width: 80%;
	/* height: 600px; */
	background: #ffffff;
	position: fixed;
	/* top: 46px; */
	top: -120%;
	z-index: 5;
	transition: 1s;
	font-size: 18px;
}

.aside.show{
	top: calc(46px - 0%);
	box-shadow: 5px 5px 30px #797979;
}

.aside-box{
	text-align: center;
}
	.login-wrap .login-box{
		display: flex;
		justify-content: space-around;
	}
	

	.profile-wrap{
		height: 230px;
		/* background: #797979; */
		display: flex;
		flex-direction: column;
		/* margin: auto; */
		align-items: center;
		justify-content: center;
	}	
	
		.profile-wrap .profile-pic{
				height: 150px;
				width: 150px;
				border-radius: 50%;
				/* background: blue; */
				border: 1px solid black;
				
			}
			
		
		.profile-wrap .profile-name{
				margin-top: 10px;
				width: 150px;
				height: 40px;
				
			}
			
			
	.aside-button{
		border: 1px solid #bdbdbd;
		margin-bottom: 5px;
		height: 70px;
	}		
		
		
		
		
		
		
